[card]
{   
    position: relative;
    display: inline-block;
    vertical-align: top;
    min-width: 20px;
    min-height: 50px;
    background-color: var(--card-bkg);
     box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.20) !important;
    border-radius: var(--corner-radius);
    padding: 8px 10px;
    overflow-wrap: break-word;
    margin: 3px;
     overflow-X: hidden;
    transition: all 0.3s;
    
}
[card] img
{
    max-width: 100%;
    max-height: 100%;
}
.right 
{
    float: right !important;
}
[card] > img
{
    min-width: calc(100% + 20px); 
    margin-left: -10px; 
    margin-right: -10px;
    
     object-fit: contain;
  object-position: 100% 0;
 
}
[card] > img:first-child
{
    margin-top: -8px;
    border-radius: var(--corner-radius) var(--corner-radius) 0px 0px;
    margin-bottom: 4px;
}
[card] [actions].fixed
{
    position: absolute;
    bottom: 0px;
}
[card] > [actions]
{
    display: block;
  align-items: center;
  justify-content: center;
    margin-left: -10px;
    margin-right: -10px;
    padding: 2px 3px;
    font-size: 0px;
     overflow: hidden;
     min-width: calc(100% + 20px); 
    
}
.divider[actions] {
    border-top: 1px solid rgba(100, 100, 100, 0.3) !important;
}
[card] > [actions]:not(.fixed):last-of-type
{
    margin-bottom: -8px;
}
[card] [actions]::selection { background: inherit !important; }
    
[card] > [actions] [content]
{
    margin-left: -10px;
    margin-right: -10px;
    min-width: calc(100% + 20px); 
    padding: 0px 15px;
    
}
[card] img:last-child:last-of-type
{
   margin-bottom: -8px;
}
[card] [actions] [accordion]:not([icon])
{
    padding: 7px 12px !important;
}

[card] label
{
    z-index: 1;
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white; 
    font-size: 18px;
    mix-blend-mode: difference;
}
[card] img + [actions] label
{
    font-size: 19px;
    color: rgba(1,1,1,0.9) !important;
    mix-blend-mode: normal !important;
    font-weight: 500;
}
[card] label + img 
{
   margin-top: -8px;
    border-radius: var(--corner-radius) var(--corner-radius) 0px 0px;
}